<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" dir="ltr">
    <a href="https://www.masfondos.cl" style="text-align: center">
        <img src="https://i.imgur.com/JWDJHhh.png" alt="W3Schools.com" style="width:800px;height:400px; opacity:0.5;">
    </a>
    <table>
        <tr style="height:25px">
            <th align="left" bgcolor="green" valign="bottom">
                <h2 style="color:white;">COMPROBANTE DE PAGO</h2>
            </th>
        </tr>
    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th align="left">Nombre Cliente</th>
        <th align="left" style="font-weight: normal" colspan="3">: Nombre Nombre Apellido Apellido</th>
      </tr>
      <tr>
        <td style="font-weight: bold">RUT Cliente</td>
        <td colspan="3">: NN.NNN.NNN-X</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Fecha Documento</td>
        <td colspan="3">: dd/mm/aaaa</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Numero Contrato</td>
        <td colspan="3">: NNNNN-R</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Hora Transacción</td>
        <td colspan="3">: HH:MM</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Numero Orden</td>
        <td colspan="3">: NNNNNNNNNNNNNNNNNNNNNNNN</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Nombre de Banco</td>
        <td colspan="3">: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
      </tr>
    </table>
    <br>
    <br>
    <table>
        <tr style="height:25px">
            <th align="left" bgcolor="green" valign="bottom">
                <h2 style="color:white;">TRANSACCIÓN EXITOSA</h2>
            </th>
        </tr>
    </table>
    <p>Con fecha <b>DD/MM/AAAA</b> hemos procedido a realizar una transacción en Banco <b>XXXXXXXXXXXXXXXXXX</b> que alcanza un total de <b>$NNN.NNN</b> por concepto de la siguiente cuota:</p>
    <br><br>
    <table style="width:100%">
            <tr style="height:20px">
              <th align="left" style ="background-color: #b85311;">Nro</th>
              <th align="left" style ="background-color: #b85311;">Fecha Cobro</th>
              <th align="left" style ="background-color: #b85311;">Fecha Pago</th>
              <th align="left" style ="background-color: #b85311;">Monto Peso</th>
              <th align="left" style ="background-color: #b85311;">Código</th>
            </tr>
            <tr style="height:20px"> <!-- Iterar esta fila con los valores-->
                <td>numero</td>
                <td>DD/MM/AAAA</td>
                <td>DD/MM/AAAA</td>
                <td>$NNN.NNN</td>
                <td>NNNNNNNNNNNN</td>
            </tr>
    </table>

</html>