<!--
    Datos Necesarios en el template mediante el diccionario:
        {key -> value}

        name -> Nombre del cliente
        rut -> RUT del cliente
        doc_date -> Fecha del documento
        num_contrato -> Numero de contrato
        time_trans -> Hora de la transaccion
        num_orden -> Numero de la orden
        name_bank -> Nombre del banco
        monto -> Monto de la boleta
        today -> Fecha de Hoy
        tipo_trans -> Credito/Debito
        cant_cuotas -> Cantidad de cuotas [En caso de credito, para debito es 1]
        coutas -> lista con las coutas (cada couta como un diccionario donde)
            coutas.numero
            couta.fecha_cobro
            couta.fecha_pago
            couta.valor
            couta.codigo
        https://previews.123rf.com/images/nalinn/nalinn1508/nalinn150800018/44272522-red-grunge-approved-rubber-stamp-isolated-on-white-background.jpg
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" dir="ltr">
    <a href="https://www.masfondos.cl" style="text-align: center">
        <img src="https://i.imgur.com/JWDJHhh.png" alt="W3Schools.com" style="width:800px;height:400px; opacity:0.5;">
    </a>
    <table>
        <tr style="height:25px">
            <th align="left" bgcolor="green" valign="bottom">
                <h2 style="color:white;">COMPROBANTE DE PAGO</h2>
            </th>
        </tr>
    </table>
    <br>
    <table style="width:100%">
      <tr>
        <th align="left">Nombre Cliente</th>
        <th align="left" style="font-weight: normal" colspan="3">: {{ name }}</th>
        <th colspan="1" rowspan="9">
                <a href="https://www.masfondos.cl" style="text-align: center">
                    <img src="https://i.imgur.com/xMYabXA.jpg" alt="W3Schools.com" style="width:275px;height:275px; opacity:0.5;">
                </a>
        </th>
      </tr>
      <tr>
        <td style="font-weight: bold">RUT Cliente</td>
        <td colspan="3">: {{ rut }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Fecha Documento</td>
        <td colspan="3">: {{ doc_date }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Numero Contrato</td>
        <td colspan="3">: {{ num_contrato }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Hora Transacción</td>
        <td colspan="3">: {{ time_trans }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Numero Orden</td>
        <td colspan="3">: {{ num_orden }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Nombre de Banco</td>
        <td colspan="3">: {{ name_bank }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Tipo de Transacción</td>
        <td colspan="3">: {{ tipo_trans }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Cantidad de cuotas</td>
        <td colspan="3">: {{ cant_cuotas }}</td>
      </tr>
    </table>
    <br>
    <br>
    <table>
        <tr style="height:25px">
            <th align="left" bgcolor="green" valign="bottom">
                <h2 style="color:white;">TRANSACCIÓN EXITOSA</h2>
            </th>
        </tr>
    </table>
    <p>Con fecha <b>{{ today }}</b> hemos procedido a realizar una transacción en Banco <b>{{ name_bank }}</b> que alcanza un total de <b>{{ monto }}</b> por concepto de la siguiente cuota:</p>
    <br><br>
    <table style="width:100%">
            <tr style="height:20px">
              <th align="left" style ="background-color: #b85311; border: 1px solid black;">Nro</th>
              <th align="left" style ="background-color: #b85311; border: 1px solid black;">Fecha Cobro</th>
              <th align="left" style ="background-color: #b85311; border: 1px solid black;">Fecha Pago</th>
              <th align="left" style ="background-color: #b85311; border: 1px solid black;">Monto Peso</th>
              <th align="left" style ="background-color: #b85311; border: 1px solid black;">Código</th>
            </tr>
            {% for index in vars.values %}
            <tr style="height:20px"> <!-- Iterar esta fila con los valores-->
                <td style="border: 1px solid black;">{{ index.numero }}</td>
                <td style="border: 1px solid black;">{{ index.fecha_cobro }}</td>
                <td style="border: 1px solid black;">{{ index.fecha_pago }}</td>
                <td style="border: 1px solid black;">{{ index.valor }}</td>
                <td style="border: 1px solid black;">{{ index.codigo }}</td>
            </tr>
            {% endfor %}
    </table>

</html>